<div class="container mt-4">
  <h3 class="mb-3">{{ id ? 'Edit Employee' : 'Add Employee' }}</h3>

  <form *ngIf="employee" (ngSubmit)="save()" class="row g-3">


    <!-- Employee Code -->
    <div class="col-md-4">
      <label>Employee Code</label>
      <input class="form-control" [(ngModel)]="employee.employeeCode" name="employeeCode" required>
    </div>

    <!-- Name -->
    <div class="col-md-4">
      <label>Name</label>
      <input class="form-control" [(ngModel)]="employee.name" name="name" required>
    </div>

    <!-- Department -->
    <div class="col-md-4">
      <label>Department</label>
      <input class="form-control" [(ngModel)]="employee.department" name="department">
    </div>

    <!-- Designation -->
    <div class="col-md-4">
      <label>Designation</label>
      <input class="form-control" [(ngModel)]="employee.designation" name="designation">
    </div>

    <!-- Email -->
    <div class="col-md-4">
      <label>Email</label>
      <input type="email" class="form-control" [(ngModel)]="employee.email" name="email">
    </div>

    <!-- Phone -->
    <div class="col-md-4">
      <label>Phone</label>
      <input class="form-control" [(ngModel)]="employee.phoneNumber" name="phoneNumber">
    </div>

    <!-- Emergency Contact -->
    <div class="col-md-4">
      <label>Emergency Contact</label>
      <input class="form-control" [(ngModel)]="employee.emergencyContact" name="emergencyContact">
    </div>

    <!-- Salary -->
    <div class="col-md-4">
      <label>Salary</label>
      <input type="number" class="form-control" [(ngModel)]="employee.salary" name="salary">
    </div>

    <!-- Experience -->
    <div class="col-md-4">
      <label>Experience (Years)</label>
      <input type="number" class="form-control" [(ngModel)]="employee.experienceYears" name="experienceYears">
    </div>

    <!-- Work Location -->
    <div class="col-md-4">
      <label>Work Location</label>
      <input class="form-control" [(ngModel)]="employee.workLocation" name="workLocation">
    </div>

    <!-- Gender -->
    <div class="col-md-4">
      <label>Gender</label>
      <select class="form-select" [(ngModel)]="employee.gender" name="gender">
        <option value="">Select</option>
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
        <option value="OTHER">Other</option>
      </select>
    </div>

    <!-- Employment Type -->
    <div class="col-md-4">
      <label>Employment Type</label>
      <select class="form-select" [(ngModel)]="employee.employmentType" name="employmentType">
        <option value="">Select</option>
        <option value="FULL_TIME">Full Time</option>
        <option value="PART_TIME">Part Time</option>
        <option value="CONTRACT">Contract</option>
        <option value="INTERN">Intern</option>
      </select>
    </div>

    <!-- Status -->
    <div class="col-md-4">
      <label>Status</label>
      <select class="form-select" [(ngModel)]="employee.status" name="status">
        <option value="ACTIVE">Active</option>
        <option value="INACTIVE">Inactive</option>
      </select>
    </div>

    <!-- Date of Birth -->
    <div class="col-md-4">
      <label>Date of Birth</label>
      <input type="date" class="form-control" [(ngModel)]="employee.dateOfBirth" name="dateOfBirth">
    </div>

    <!-- Date of Joining -->
    <div class="col-md-4">
      <label>Date of Joining</label>
      <input type="date" class="form-control" [(ngModel)]="employee.dateOfJoining" name="dateOfJoining">
    </div>

    <!-- Last Working Day -->
    <div class="col-md-4">
      <label>Last Working Day</label>
      <input type="date" class="form-control" [(ngModel)]="employee.lastWorkingDay" name="lastWorkingDay">
    </div>

    <!-- Profile Image URL -->
    <div class="col-md-12">
      <label>Profile Image URL</label>
      <input class="form-control" [(ngModel)]="employee.profileImageUrl" name="profileImageUrl">
    </div>

    <!-- Address -->
    <div class="col-md-12">
      <label>Address</label>
      <textarea class="form-control" rows="3"
        [(ngModel)]="employee.address"
        name="address">
      </textarea>
    </div>

    <!-- Buttons -->
    <div class="col-md-12 mt-3">
      <button type="submit" class="btn btn-primary">Save</button>
      <a routerLink="/" class="btn btn-secondary ms-2">Cancel</a>
    </div>

  </form>
</div>
